/* You can add global styles to this file, and also import other style files */
@import '~style_responsive.scss';
/*
0. Variables Nuevas
1. Cuerpo Base
2. Cards
3. Chat
4. NavBar
5. Data Tables
(). Resposive
*/

// Variables
$sp:    #01d56e !default;
$sp-dark:  #23222a !default;
$sp-dark-alt:  #515c7f !default;



// Estilos del Cuerpo Base
body {
  background: $sp-dark;
  padding-top: 50px;
}
.bg-origin{
  background: $sp-dark;
}
.bg-origin-alt{
  background: $sp-dark-alt;
}
.bg-extra-light{
  background: #f9f9f9!important;
}
.copy-text{
  color: $sp!important;
}
.border-error{
  border: solid 1px red;
}
.border-warning{
  border: solid 1px orange;
}
.border-success{
  border: solid 1px #01d56e;
}
.border-default{
  border: solid 1px #ddd;
}
.w-33{
  width: 33.3333%!important;
}
.text-big{
  font-size: 1.1rem;
}
.text-small{
  font-size: 0.7rem;
}
.text-medium{
  font-size: 1.05rem;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.text-brand-color{
  color: #01d56e;
}
.bold{
  font-weight: bold;
}
.uppercase{
  text-transform: uppercase;
}
.to-hide{
  display: none!important;
}
.hide{
  display: none;
}



// Cards
.rounded-small{
  border-radius: 3px;
}
.rounded-medium{
  border-radius: 5px;
}
.rounded-big{
  border-radius: 10px;
}
.rounded-biger{
  border-radius: 15px;
}
.card-body{
  padding: 1rem 0.5rem 0.3rem 0.5rem;
}
.pulsed-game-container{
  animation: pulse 1s infinite;
  border: none!important;
  border-radius: 10px;
}
.card-games-ahead{
  margin-bottom: -50px;
  cursor: pointer;
  border: none!important;
  z-index: 99999!important;
  -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.14);
  box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.14);

  .data-holder{

    div:nth-child(1){
      width: 33.3333%;
      text-align: center;
    }
    div:nth-child(2){
      width: 33.3333%;
      text-align: center;
    }
    div:nth-child(3){
      width: 33.3333%;
      text-align: center;
    }
  }
  img {
    width: 60px;
    height: 60px;
    clear: both!important;
  }
  label {
    width: 100%!important;
    text-align: center;
    padding-top: 5px;
  }
  .stadium-name{
    width: 100%;
    text-align: center;
    border-top: solid 1px rgba(122, 2, 2, 0.05);

    img{
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
}

.pulsed-game-container:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(1, 213, 110, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(1, 213, 110, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(1, 213, 110, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(1, 213, 110, 0.7);
    box-shadow: 0 0 0 0 rgba(1, 213, 110, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(1, 213, 110, 0);
      box-shadow: 0 0 0 15px rgba(1, 213, 110, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(1, 213, 110, 0);
      box-shadow: 0 0 0 0 rgba(1, 213, 110, 0);
  }
}




// Chat
.chat-opener-label{
  position: absolute;
  // border: solid 1px red;
  margin-top: -27px;
  right: 30px;
}




// NavBar
.navbar{
  .navbar-brand{
    font-size: 14px;
    &:hover {
      color: $sp;
    }
  }
}




// Data Tables
#main-list-challenge {
  // padding-left: 0rem!important;
  // padding-right: 0rem!important;

  table{
    tr{
      background: #f9f9f9!important;
      // &:hover{
      //   background-color: #fff!important;
      // }
      &:hover .match tr{
        background-color: #fff!important;
        z-index: 99999!important;
        -webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.29);
        -moz-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.29);
        box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.29);
      }
      td {
        border: none!important;
        .item-match{
          width: 100%;
          height: auto;
          .match{
            width: 100%;
            cursor: pointer;
            -webkit-transition: all 0.5s; /* Safari */
            transition: all 0.5s;

            td:nth-child(1){
              width: auto!important;
              text-align: center;
            }
            td:nth-child(2){
              width: 20%;
              text-align: center;
            }
            td:nth-child(3){
              width: 40%;
              text-align: center;
            }
            td:nth-child(4){
              width: 20%;
              text-align: center;
            }
            td:nth-child(5){
              width: auto!important;
              text-align: center;
            }
            img {
              width: 30px;
              height: 30px;
            }
            tr{
              background: #f9f9f9;
              &:hover {
                background: #fff!important;
              }
            }
          }
        }
      }
    }
  }
  .dataTable.no-footer{
    border-bottom: solid 1px rgba(0,0,0,0.05);
  }
  .dataTables_filter {
    width: 100%!important;
    label{
      text-align: left;
      width: 100%;
      visibility: hidden;
      position: relative;
      padding-left: 1em!important;
      padding-right: 1em!important;
      &:before {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1.5em!important;
        margin-bottom: 5px;
        content: 'Buscar Encuentro';
      }
    }
    input {
      border: solid 1px rgba(0,0,0,0.05);
      padding: 10px 15px;
      width: 97.5%!important;
      visibility: visible!important;
      margin-right: 0.5em!important;
      background: #fff;
      &:focus{
        outline: transparent!important;
      }
      &:active {
        outline: transparent!important;
      }
    }
  }
}

.paginate_button{
  border: solid 1px rgba(0,0,0,0.05)!important;
  background: transparent!important;
}
