/*! =========================================================
 *
 *
 * =========================================================
 *
 *
 *                       _oo0oo_
 *                      o8888888o
 *                      88" . "88
 *                      (| -_- |)
 *                      0\  =  /0
 *                    ___/`---'\___
 *                  .' \|     |// '.
 *                 / \|||  :  |||// \
 *                / _||||| -:- |||||- \
 *               |   | \\  -  /// |   |
 *               | \_|  ''\---/''  |_/ |
 *               \  .-\__  '-'  ___/-. /
 *             ___'. .'  /--.--\  `. .'___
 *          ."" '<  `.___\_<|>_/___.' >' "".
 *         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *         \  \ `_.   \_ __\ /__ _/   .-` /  /
 *     =====`-.____`.___ \_____/___.-`___.-'=====
 *                       `=---='
 *
 *     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *               Buddha Bless:  "No Bugs"
 *
 * ========================================================= */
/*RESPONSIVE STYLES ADJUST*/
/*media styles for responsive*/
@media (max-width: 321px) {
  #main-list-challenge {
    table{
      tr{
        td {
          .match{
            .dynamic-class-mobile{
              display: none!important;
            }
          }
        }
      }
    }
  }
}



@media (max-width: 400px) {
  #main-list-challenge {
    table{
      tr{
        td {
          .match{
            img {
              width: 50px!important;
              height: 50px!important;
            }
            .dynamic-class-mobile{
              display: none!important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {

}



@media (min-width: 481px) and (max-width: 550px) {

}



@media (min-width: 551px) and (max-width: 650px) {

}



@media (min-width: 651px) and (max-width: 767px) {

}



@media (min-width: 768px) and (max-width: 900px) {

}



@media (min-width: 901px) and (max-width: 1023px) {

}



@media (min-width: 1024px) and (max-width: 1080px) {

}



@media (min-width: 1081px) and (max-width: 1199px) {

}



@media (min-width: 1200px) and (max-width: 1250px) {

}



@media (min-width: 1251px) and (max-width: 1400px) {

}



@media (min-width: 1401px) and (max-width: 1599px) {

}



@media (min-width: 1600px) and (max-width: 1800px) {

}

@media (min-width: 1801px) and (max-width: 2500px) {
  .jumbotron{
    width: 50%!important;
    border-radius: 10px!important;
  }
}
